Repository archivesspace/archivesspace, pull requests merged in 2021-02, with the labels that each got.

#2113 Only get required fields when needed per action
  frontend/app/controllers/agents_controller.rb
  frontend/app/views/agent_alternate_sets/_template.html.erb
  frontend/app/views/agent_conventions_declarations/_template.html.erb
  frontend/app/views/agent_identifiers/_template.html.erb
  frontend/app/views/agent_maintenance_histories/_template.html.erb
  frontend/app/views/agent_other_agency_codes/_template.html.erb
  frontend/app/views/agent_places/_template.html.erb
  frontend/app/views/agent_record_controls/_template.html.erb
  frontend/app/views/agent_record_identifiers/_template.html.erb
  frontend/app/views/agent_resources/_template.html.erb
  frontend/app/views/agent_sources/_template.html.erb
  frontend/app/views/agents/_contact_details.html.erb
  frontend/app/views/agents/name_forms/_agent_corporate_entity.html.erb
  frontend/app/views/agents/name_forms/_agent_family.html.erb
  frontend/app/views/agents/name_forms/_agent_person.html.erb
  frontend/app/views/agents/name_forms/_agent_software.html.erb
  frontend/app/views/agents/name_forms/_authority_fields.html.erb
  frontend/app/views/used_languages/_template.html.erb
Labels: agents

#2103 Anw 429 MARC import enhancements
  backend/app/converters/lib/marcxml_auth_agent_base_map.rb
  backend/spec/lib_marcxml_auth_agent_converter_spec.rb
Labels: agents, import / export, in progress, update_import/export_maps

#1936 GH-1920 --C-- Fix bugs, listen for modal
  frontend/app/assets/javascripts/locations.location_holdings.js
  frontend/app/views/locations/_linker.html.erb
  frontend/app/views/locations/_location_holdings_cell.html.erb
  frontend/app/views/locations/index.html.erb
  frontend/app/views/top_containers/bulk_operations/_location_linker.html.erb
Labels: contractor

#2071 mariadb fix for resource_list_report + extent_subreport
  reports/custom/extent_subreport.rb
Labels: bug, reports

#2102 Don't limit report to just repo 2
  reports/accessions/accession_inventory_report/accession_inventory_report.rb
Labels: bug, reports

#2120 call o.e.jetty.server.Server.new only once
  launcher/launcher.rb
Labels: community

#2081 Fix for PUI slowness caused by unnecessary counting of record types
  public/app/controllers/repositories_controller.rb
  public/app/controllers/search_controller.rb
  public/app/services/archives_space_client.rb
Labels: pui

#2107 generate_accession_identifiers does not handle prefxes
  plugins/generate_accession_identifiers/frontend/routes.rb
Labels: plugins

#2119 Adds External Documents to Assessment
  backend/app/model/assessment.rb
  common/db/migrations/139_add_external_documents_to_assessments.rb
  common/schemas/assessment.rb
  frontend/Gemfile
  frontend/Gemfile.lock
  frontend/app/views/assessments/_form.html.erb
  frontend/app/views/assessments/_sidebar.html.erb
  frontend/config/environments/development.rb
  frontend/spec/selenium/spec/assessments_spec.rb
Labels: contractor, migration

#2109 Update marcxml_base_map.rb to account for 099
  backend/app/converters/lib/marcxml_base_map.rb
Labels: community, import / export, update_import/export_maps

#2121 ANW-429 EAC import enhancements
  backend/app/converters/lib/eac_base_map.rb
  backend/app/exporters/examples/eac/xmleac.xml
  backend/spec/lib_eac_converter_spec.rb
  common/db/migrations/140_create_new_agents_tables.rb
Labels: agents, import / export, migration, update_import/export_maps

#2117 EAC export updates
  backend/app/exporters/models/eac.rb
  backend/app/exporters/serializers/eac.rb
  backend/spec/controller_exports_spec.rb
  backend/spec/custom_matchers.rb
  backend/spec/export_eac_spec.rb
Labels: agents, import / export, update_import/export_maps

#2122 Prevent loss of agent contact details, fixes #2110
  frontend/app/controllers/application_controller.rb
  frontend/app/views/agents/_form.html.erb
  frontend/app/views/notes/_template.html.erb
  frontend/spec/selenium/factories.rb
  frontend/spec/selenium/spec/restricted_properties_spec.rb
Labels: agents, bug

#2108 Fix for EAD import bug when top-level descriptive identification has container info but no langmaterial
  backend/app/converters/ead_converter.rb
Labels: community, import / export

#2123 Minor tweaks to marc export map
  backend/app/exporters/serializers/marc_auth.rb
  backend/spec/export_marc_auth_agent_spec.rb
Labels: agents, import / export, update_import/export_maps
