Repository archivesspace/archivesspace, pull requests merged in 2021-07, with the labels that each got.

#2327 ANW-1328 Staff interface tree labels, contrast, headings
  frontend/app/assets/javascripts/tree.js.erb
  frontend/app/assets/javascripts/tree_resizer.js
  frontend/app/assets/stylesheets/archivesspace/largetree.less
  frontend/config/locales/en.yml
  frontend/config/locales/es.yml
  frontend/config/locales/fr.yml
  frontend/config/locales/ja.yml
  frontend/spec/selenium/common/tree_helper.rb
Labels: accessibility

#2332 Enforce other level value field when level is otherlevel
  backend/spec/lib_ead_converter_spec.rb
  backend/spec/model_archival_object_spec.rb
  common/db/migrations/154_default_otherlevel.rb
  common/validations.rb
Labels: migration

#2326 ANW-667 Fixes to use index for display
  indexer/app/lib/indexer_common.rb
  public/app/controllers/accessions_controller.rb
  public/app/models/accession.rb
  public/app/views/accessions/_related_accessions.html.erb
  public/app/views/resources/_related_accessions.html.erb
  public/config/locales/en.yml
  public/config/locales/es.yml
  public/config/locales/fr.yml
  public/config/locales/ja.yml
  public/spec/controllers/resources_controller_spec.rb
  public/spec/features/classifications_spec.rb
  public/spec/features/resources_spec.rb
  public/spec/spec_helper.rb
Labels: in progress

#2322 ANW-1331: visible labels missing in pui
  .github/workflows/accessibility.yml
  .github/workflows/public.yml
  build/build.xml
  build/mysql_db_fixtures/accessibility.sql.gz
  frontend/Gemfile
  frontend/Gemfile.lock
  frontend/app/assets/javascripts/custom_report_templates.crud.js
  frontend/app/assets/javascripts/largetree.js.erb
  frontend/app/assets/javascripts/largetree_dragdrop.js.erb
  frontend/app/assets/javascripts/tree_renderers.js.erb
  frontend/app/assets/javascripts/utils.js
  frontend/app/assets/stylesheets/archivesspace/largetree.less
  frontend/app/views/shared/_sidebar.html.erb
  frontend/app/views/shared/_sidebar_entry.html.erb
  frontend/spec/features/accessibility_spec.rb
  frontend/spec/rails_helper.rb
  frontend/spec/selenium/common/tree_helper.rb
  frontend/spec/selenium/spec/bulk_import_spec.rb
  frontend/spec/selenium/spec/digital_objects_spec.rb
  frontend/spec/selenium/spec/rde_spec.rb
  frontend/spec/spec_helper.rb
  public/app/assets/javascripts/search.js.erb
  public/app/assets/javascripts/tree_renderer.js.erb
  public/app/controllers/search_controller.rb
  public/app/views/shared/_search.html.erb
  public/config/locales/en.yml
  public/spec/factories.rb
  public/spec/features/accessibility_spec.rb
  public/spec/spec_helper.rb
  public/vendor/assets/javascripts/largetree.js.erb
Labels: accessibility
