Repository archivesspace/archivesspace, pull requests merged in 2021-03, with the labels that each got.

#2112 Update OAI Provider resolve list
  backend/app/lib/oai/aspace_oai_repository.rb
Labels: oai

#2124 ANW-1112 Restrict merge if denied contact details
  common/jsonmodel_type.rb
  frontend/app/controllers/agents_controller.rb
  frontend/config/locales/en.yml
  frontend/spec/selenium/spec/restricted_properties_spec.rb
Labels: agents, bug, translations_needed

#2125 PUI tweaks
  public/app/helpers/view_helper.rb
  public/app/models/note_renderer.rb
  public/app/views/agents/_dates_inline.html.erb
  public/app/views/agents/_places.html.erb
  public/app/views/agents/_subjects.html.erb
  public/app/views/agents/show.html.erb
  public/app/views/shared/_notes.html.erb
  public/app/views/shared/_subnotes.html.erb
  public/config/locales/en.yml
Labels: agents, pui

#2134 use an environment variable ARCHIVESSPACE_VERSION rather than editing…
  .gitignore
  _yard/templates/default/layout/html/footer.erb
Labels: build, cleanup

#2128 Staff interface tweaks + fixes
  backend/app/model/mixins/sort_name_processor.rb
  backend/spec/model_agent_corporate_entity_spec.rb
  backend/spec/model_agent_family_spec.rb
  backend/spec/model_structured_date_spec.rb
  frontend/app/helpers/aspace_form_helper.rb
  frontend/app/views/agent_functions/_show.html.erb
  frontend/app/views/agent_occupations/_show.html.erb
  frontend/app/views/agent_places/_show.html.erb
  frontend/app/views/agent_topics/_show.html.erb
Labels: agents

#2131 Updates for the Docker environment:
  Dockerfile
  docker-compose.yml
  solr/Dockerfile
  solr/schema-8.8.xml
  solr/solrconfig-8.8.xml
Labels: build

#2138 ANW-429 related agents enhancements
  backend/app/converters/lib/eac_base_map.rb
  backend/app/converters/lib/marcxml_auth_agent_base_map.rb
  backend/app/model/agent_relationship_associative.rb
  backend/app/model/agent_relationship_earlierlater.rb
  backend/app/model/agent_relationship_family.rb
  backend/app/model/agent_relationship_hierarchical.rb
  backend/app/model/agent_relationship_identity.rb
  backend/app/model/agent_relationship_parentchild.rb
  backend/app/model/agent_relationship_subordinatesuperior.rb
  backend/app/model/agent_relationship_temporal.rb
  backend/app/model/mixins/related_agents.rb
  backend/spec/controller_enumeration_spec.rb
  backend/spec/model_related_agents_spec.rb
  common/db/migrations/145_update_agent_rlshps.rb
  common/locales/en.yml
  common/locales/enums/en.yml
  common/schemas/abstract_agent_relationship.rb
  common/schemas/agent_family.rb
  common/schemas/agent_relationship_parentchild.rb
  frontend/app/views/related_agents/_template.html.erb
  frontend/app/views/related_agents/_template_merge.html.erb
  frontend/app/views/related_agents/_template_merge_target.html.erb
  frontend/app/views/related_agents/_template_required.html.erb
Labels: agents, import / export, migration, translations_needed, update_import/export_maps

#2089 Add generic search route docs to API docs
  _yard/API.erb
Labels: API, documentation

#2145 ANW-1225: Clean trailing characters from MARC auth import
  backend/app/converters/lib/marcxml_auth_agent_base_map.rb
  backend/spec/lib_marcxml_auth_agent_converter_spec.rb
Labels: agents, import / export, update_import/export_maps

#2143 ANW-429: Don't publish rel agents by default
  backend/app/converters/lib/eac_base_map.rb
  backend/app/converters/lib/marcxml_auth_agent_base_map.rb
Labels: agents, import / export

#2142 ANW-429 account for conference proceedings
  backend/app/converters/lib/marcxml_auth_agent_base_map.rb
Labels: agents, import / export, update_import/export_maps

#2114 avoid passing nil elements to Hash
  public/app/controllers/agents_controller.rb
Labels: community, pui

#2063 Staff UI accessibility enhancements
  frontend/app/helpers/search_helper.rb
  frontend/app/views/assessment_attributes/edit.html.erb
  frontend/app/views/groups/index.html.erb
  frontend/app/views/locations/batch.html.erb
  frontend/app/views/oai_config/edit.html.erb
  frontend/app/views/users/index.html.erb
  frontend/config/locales/en.yml
  frontend/config/locales/es.yml
  frontend/config/locales/fr.yml
  frontend/config/locales/ja.yml
  frontend/vendor/assets/javascripts/bootstrap-tagsinput.js
  plugins/lcnaf/frontend/locales/en.yml
  plugins/lcnaf/frontend/locales/fr.yml
  plugins/lcnaf/frontend/views/lcnaf/index.html.erb
Labels: accessibility, plugins

#2148 ANW-1215: Show specific relator if present in PUI
  public/app/views/agents/_related_agents.html.erb
Labels: agents, pui

#2144 ANW-1228 Related agents rest of name whitespace fix
  backend/app/converters/lib/eac_base_map.rb
Labels: agents, import / export

#2156 ANW-1233: Deprecate EAC export endpoints for software agents
  backend/app/controllers/exports.rb
Labels: API, documentation

#2153 Updating Translation values (EN)
  common/locales/en.yml
  frontend/config/locales/en.yml
Labels: agents, translations, translations_needed

#2152 ANW-1226: EAC export related agents tags/attributes
  backend/app/exporters/serializers/eac.rb
  backend/spec/export_eac_spec.rb
Labels: agents, import / export, update_import/export_maps

#2151 ANW-1227: MARC export related agents 'w' and 'i' subfs
  backend/app/exporters/serializers/marc_auth.rb
  backend/spec/agent_spec_helper.rb
  backend/spec/export_marc_auth_agent_spec.rb
Labels: agents, import / export, update_import/export_maps

#2168 ANW-1173 EAD import should support multiple <langmaterial> <language>s
  backend/app/converters/ead_converter.rb
  backend/app/exporters/examples/ead/at-tracer.xml
  backend/spec/lib_ead_converter_spec.rb
Labels: import / export

#2150 ANW-1230 Fix eac citation subnote export
  backend/app/exporters/serializers/eac.rb
Labels: agents, import / export

#2170 ANW-1246 Assign label to lightmode toggle button
  frontend/app/views/shared/_lightmode_toggle.html.erb
Labels: accessibility, agents
