Repository archivesspace/archivesspace, pull requests merged in 2021-08, with the labels that each got.

#2346 ANW-1326 work in progress: resource toolbar roles and aria attributes
  frontend/app/assets/javascripts/add_event_dropdown.js
  frontend/app/assets/javascripts/jquery.tokeninput.js
  frontend/app/assets/javascripts/linker.js
  frontend/app/assets/javascripts/merge_dropdown.js.erb
  frontend/app/assets/javascripts/transfer_dropdown.js.erb
  frontend/app/views/resources/_linker.html.erb
  frontend/app/views/shared/_event_dropdown.html.erb
  frontend/app/views/shared/_merge_dropdown.html.erb
  frontend/app/views/shared/_resource_toolbar.html.erb
  frontend/app/views/shared/_transfer_dropdown.html.erb
  frontend/config/locales/en.yml
  frontend/spec/features/accessibility_spec.rb
  frontend/spec/selenium/spec/instances_and_containers_spec.rb
  frontend/spec/selenium/spec/merge_and_transfer_spec.rb
Labels: accessibility

#2340 ANW-1316, ANW-1323 Provide keyboard-only resizing of PUI sidebar
  public/app/assets/javascripts/resizable_sidebar.js
  public/app/assets/stylesheets/archivesspace/aspace.scss
  public/app/views/resources/_resource_tab.erb
  public/app/views/shared/_accordion_panel.html.erb
  public/spec/features/accessibility_spec.rb
Labels: accessibility

#2366 ANW-1381 resolve agent sub records pointing to deleted subjects
  backend/spec/model_agent_topics_spec.rb
  common/db/migrations/157_fk_constraints_for_agent_subrecords.rb
  frontend/app/controllers/subjects_controller.rb
  frontend/config/locales/en.yml
Labels: migration, translations_needed

#2368 ANW-1322 PUI heading levels and accessibility tests
  public/app/assets/stylesheets/archivesspace/aspace.scss
  public/app/views/repositories/_repository_details.html.erb
  public/app/views/shared/_accordion_panel.html.erb
  public/app/views/shared/_agents_list.html.erb
  public/app/views/shared/_multi_notes.html.erb
  public/app/views/shared/_record_innards.html.erb
  public/app/views/shared/_single_note.html.erb
  public/spec/features/accessibility_spec.rb
Labels: update_release_notes, pui
